root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
indent_size = 4
max_line_length = 88

[*.{c,h}]
indent_size = 4
max_line_length = 88

[*.sh]
indent_size = 2

[Makefile]
indent_style = tab

[*.mk]
indent_style = tab

[*.{yml,yaml}]
indent_size = 2

[*.supp]
indent_size = 3
