*.pyc
*.pyo
/MANIFEST
/build
/dist
/src/allpycurl.c
/src/docstrings.c
/src/docstrings.h
/tests/tmp
/tests/fake-curl/libcurl/*.so
/www/htdocs/download/*.bz2
/www/htdocs/download/*.exe
/www/htdocs/download/*.gz
/www/upload/*
pycurl.egg-info
