*.egg-info
*.py[oc]
.venv
/MANIFEST
/src/allpycurl.c
/src/docstrings.c
/src/docstrings.h
/tests/fake-curl/libcurl/*.so
/tests/tmp
/www/htdocs/download/*.bz2
/www/htdocs/download/*.exe
/www/htdocs/download/*.gz
/www/upload/*
__pycache__/
build/
dist/
wheels/
