#
# MANIFEST.in
# Manifest template for creating the source distribution.
#

include AUTHORS
include COPYING-LGPL
include COPYING-MIT
include ChangeLog
include INSTALL.rst
include MANIFEST.in
include Makefile
include README.rst
include RELEASE-NOTES.rst
include doc/*.py
include doc/*.rst
include doc/docstrings/*.rst
include doc/static/favicon.ico
include examples/*.py
include examples/quickstart/*.py
include examples/tests/*.py
include src/Makefile
include src/docstrings.c
include src/docstrings.h
include src/easy.c
include src/module.c
include src/multi.c
include src/oscompat.c
include src/pycurl.h
include src/pythoncompat.c
include src/share.c
include src/stringcompat.c
include src/threadsupport.c
include python/curl/*.py
include requirements*.txt
include tests/*.py
include tests/certs/*.crt
include tests/certs/*.key
include tests/ext/*.sh
include tests/fake-curl/*
include tests/fixtures/form_submission.txt
include tests/matrix/*.patch
include tests/vsftpd.conf
include winbuild.py
