#
# MANIFEST.in
# Manifest template for creating the source distribution.
#

include ChangeLog
include COPYING
include INSTALL
include Makefile
include README
include TODO
include src/Makefile
include src/curl.c
include examples/*.py
include tests/*.py

# exclude unfinished test scripts
exclude tests/test_multi_vs_thread.py
