# /***********************************************************************
# // Module core
# // permissions needed: ???
# ************************************************************************/

Options +Indexes


# /***********************************************************************
# // Module mod_autoindex
# // permissions needed: AllowOverride Indexes
# ************************************************************************/

IndexOrderDefault Descending Date

##AddDescription "precompiled win32 installer"        .exe
AddDescription "precompiled win32 installer"        pycurl-7.10.1.win32
AddDescription " "                                  .gz

