# /***********************************************************************
# // Module core
# // permissions needed: ???
# ************************************************************************/

Options +Indexes


# /***********************************************************************
# // Module mod_autoindex
# // permissions needed: AllowOverride Indexes
# ************************************************************************/

IndexOrderDefault Descending Date

##AddDescription "precompiled win32 installer"        .exe
##AddDescription "pre-release version"                pycurl-ssl-7.10.2-pre
##AddDescription "pre-release version"                pycurl-7.10.2-pre
AddDescription "precompiled win32 installer (with SSL &amp; zlib)" pycurl-ssl-7.10.2.win32
AddDescription "precompiled win32 installer (basic)" pycurl-7.10.2.win32
AddDescription " "                                  .gz

