#
# vi:ts=4:et:nowrap
#
#
# apache 1.3.x
#
# global settings for the pycurl.sourceforge.net webspace - these are
# inherited by subdirectories
#


# /***********************************************************************
# // Module core
# // permissions needed: ???
# ************************************************************************/

# Turn off MultiViews, or else mod_negotiation will try to opendir()
# the directory and fail, and any Redirect below will not get reached.
#
# Also turn off Indexes, they will be re-enabled in the relevant subtrees.
Options -Indexes -MultiViews


# /***********************************************************************
# // Module mod_autoindex
# // permissions needed: AllowOverride Indexes
# //
# // note that indexing is disabled by default ("Options -Indexes" above)
# // and has to be re-enabled in subdirs by putting a
# // "Options +Indexes" in their .htaccess
# ************************************************************************/

<IfModule mod_autoindex.c>
  IndexOptions NameWidth=*
  IndexOptions DescriptionWidth=*

  IndexIgnore .??* favicon.ico
</IfModule>


# /***********************************************************************
# // PHP
# // permissions needed: AllowOverride Options
# ************************************************************************/

php_value allow_url_fopen 0
php_value file_uploads 0
php_value register_globals 0

