# /***********************************************************************
# // Module core
# // permissions needed: ???
# ************************************************************************/

Options +Indexes

