# /***********************************************************************
# // Module core
# // permissions needed: ???
# ************************************************************************/

Options +Indexes


# /***********************************************************************
# // Module mod_autoindex
# // permissions needed: AllowOverride Indexes
# ************************************************************************/

## IndexOrderDefault Descending Date


# /***********************************************************************
# // Module mod_dir
# // permissions needed: AllowOverride Indexes
# ************************************************************************/

## DirectoryIndex pycurl.html


