# /***********************************************************************
# // Module core
# // permissions needed: ???
# ************************************************************************/

Options +Indexes


# /***********************************************************************
# // Module mod_autoindex
# // permissions needed: AllowOverride Indexes
# ************************************************************************/

AddDescription "a file to test the 403 response"    403_FORBIDDEN

